{% extends 'layout.html' %}

{% block body %}

    <h1>PlayWithForms</h1>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Permission</th>
            <th>change</th>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td id="id1">Yes</td>
            <td>
                <form class="form-inline">
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </td>
          </tr>
          <tr>
            <td>Mary</td>
            <td id="id2">No</td>
            <td>

            </td>
          </tr>
        </tbody>

    </table>

    <table class="table">
        <thead>
            <th>key</th>
            <th>value</th>
            <th>change</th>
        </thead>
        <tbody>
         {% for clau, valor in data.items() %}
         <tr>
             <td> {{ clau }} </td>
            {% if valor == "Yes" %}
                <td id="{{ clau }}" style="background-color: greenyellow" > {{ valor }} </td>
            {% else %}
                <td id="{{ clau }}" style="background-color: red"> {{ valor }} </td>
            {% endif %}
             <td>
                <button onclick="changeValue(this)" type="button" class="btn btn-danger" value="{{ clau }}" >Revoke</button>
                {% if valor == "Yes" %}
                    <input  onchange="changeValue(this)" value="{{ clau }}" type="checkbox" checked data-toggle="toggle">
                {% else %}
                    <input  onchange="changeValue(this)" value="{{ clau }}" type="checkbox" data-toggle="toggle">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>


    <form action="/playWithForms" method="post">
        {{ form.csrf_token }}
        {{ form.dt(class='datepicker') }}
        {{ form.hidden_tag() }}
        <input type="submit"/>
    </form>


<script>


$(".datepicker").datepicker( {
    format: "mm-yyyy",
    startView: "months",
    minViewMode: "months"
});




/*
function changeValue(elem){
    var clau = elem.value;
    var name = elem.name;
    console.log("value: "+clau);
    $.ajax({
        data : {
            valor : clau
        },
        type : 'POST',
        url : '/changeValue'
    })
    .done(function(data){

        $('#'+clau).text(data).show();
        var text = $('#'+clau).text();
        if (text== "Yes") {
            document.getElementById(clau).style.backgroundColor = "greenyellow";
        }else {
            document.getElementById(clau).style.backgroundColor = "red";
        }

    });

}*/
</script>


{% endblock %}
